<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appnhac.Activity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Music"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppNhac">
        <activity android:name=".LoadMenuActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".TrinhphatnhacActivity" />
        <activity android:name=".DanhsachtatcaAlbumActivity" />
        <activity android:name=".DanhsachtheloaitheochudeActivity" />
        <activity android:name=".DanhsachtatcachudeActivity" />
        <activity android:name=".DanhsachplaylistActivity" />
        <activity android:name=".DanhsachbaihatActivity" />
        <activity android:name=".OnboardingAndroidTutorial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>